@charset "utf-8";

.center{
text-align:center;
}

.pic {
        margin-bottom: -4px;
        margin-right: 2px;
    }

.white {
	color: #FFFFFF;
	font: bold;
}

.columBackgroundColor{
background-color: #4a5d75;	
	}   